*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #f8e1db;
}
.header a img{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.header div a{
    display: inline;
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: none;
    color: black;
}
.carousel{
    height: 600px;
    background-image: url(../../TuiLam_Camping-Website/img/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.activities .eda{
    text-align: center;
    padding: 15px;
}
.activities .act1,.act2,.act3,.act4{
    border: 2px solid black;
    border-radius: 15px;
    float: left;
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 100px;
    cursor: pointer;
}
/* .clear{
    clear: both;
} */
/* .activities .act1,.act2{
    float: left;
}
.activities .act3,.act4{
    float: right;
} */
.activities .act1,.act2,.act3,.act4 .noidung1,.noidung2,.noidung3,.noidung4{
    text-align: center;
}

.activities .act1,.act2,.act3,.act4 .noidung1>button,.noidung2>button,.noidung3>button,.noidung4>button{
    border: solid black;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: grey;
}